<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.etushuttle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.example.etushuttle.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.etushuttle.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/school_bus_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.etushuttle.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.etushuttle.RingSaatleri"
            android:label="@string/title_activity_ring_saatleri" >
        </activity>
        <activity
            android:name="com.example.etushuttle.SemtSaatleri"
            android:label="@string/title_activity_semt_saatleri" >
        </activity>
        <activity
            android:name="com.example.etushuttle.RingNerede"
            android:label="@string/title_activity_ring_nerede" >
        </activity>
        <activity
            android:name="com.example.etushuttle.MyGoogleMaps"
            android:label="@string/title_activity_my_google_maps" >
        </activity>
        <activity
            android:name="com.example.etushuttle.HaritadaGoster"
            android:label="@string/title_activity_haritada_goster" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your_google_maps_api_key" />
    </application>

</manifest>
